name: Deploy Production Migrations

on:
  push:
    branches:
      - main 
  workflow_dispatch:

jobs:
  deploy-production:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Deploy database migrations to production
        # Set environment variables for the CLI to connect to the production project
        env:
          SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_DB_PASSWORD }}
          PROJECT_ID: kuufrptgajseeedhgoce
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
          
      - run: supabase link --project-ref $PROJECT_ID
      - run: supabase db push 
