name: Deploy Production Migrations

on:
  push:
    branches:
      - main 
  workflow_dispatch:

jobs:
  deploy-production:
    runs-on: ubuntu-latest

    env:
          SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_DB_PASSWORD }}
          PROJECT_ID: kuufrptgajseeedhgoce
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
          
    steps:
      - uses: actions/checkout@v4
      - uses: supabase/setup-cli@v1
        with:
          version: latest
        
      - run: supabase link --project-ref $PROJECT_ID
      - run: supabase db push 
